body {
  background-color: #333;
}

.navbar {
  height: 80px;
  width: 100%;
  background-image: url('../marsheader.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.navbar ul {
  padding: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: #FFF;
  text-shadow: 2px 2px #000;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.6em;
}

.selected {
  color: red;
}

.container {
  width: 90%;
  margin: 10px auto;
  background-color: #DDD;
  border-radius: 10px;
}

.description {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.nasa-img {
  float: right;
  width: 100px;
}

.form {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.form select {
  margin: 0 10px;
}

.divbtn {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  padding: 10px;
  width: 100px;
}

.photos {
  width: 90%;
  margin: 10px auto;
  background-color: #DDD;
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex-basis: 30.3333%;
  margin: 1.5% 1.5%;
}

.image img {
  width: 100%;
  box-shadow: 10px 10px 10px #333;
  box-sizing: border-box;
}

.apod-photo {
  width: 90%;
  margin: 10px auto;
  background-color: #DDD;
}

.apod-image {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.apod-image img {
  width: 100%;
  box-shadow: 10px 10px 10px #333;
  box-sizing: border-box;
}

.date {
  font-size: .75em;
}

.explanation {
  letter-spacing: 1px;
  font-family: sans-serif;
}

.manifest {
  width: 90%;
  margin: 10px auto;
  background-color: #DDD;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.firstHeader{
  color: #FFF;
  background-color: #000;
  text-align: left;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

.camera-link {
  margin: 0 10px;
}

.container h1 {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
